<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= detalle[0].title %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
    }
    h1 {
      margin-top: 50px;
      font-size: 2.2rem;
      border-bottom: 1px solid #ccc;
      padding-bottom: 20px;
    }
    .carousel {
      border: 1px solid #ccc;
      margin-bottom: 30px;
    }
    .carousel-image {
      max-height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
    .carousel-control-prev,
    .carousel-control-next {
      font-size: 2rem;
      background-color: rgba(255, 7, 7, 0.5);
      color: #000;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      margin-top: -25px;
      top: 50%;
      transform: translateY(-50%);
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-color: transparent;
    }
    .row {
      margin-top: 80px;
    }
    .col-md-8 p,
    .col-md-4 p {
      margin-bottom: 10px;
    }
    .col-md-4 p strong {
      display: inline-block;
      width: 150px;
    }



    body{
      margin: 0px;
      padding: 0px;
  }

  .card-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
      padding: 18px;
  }

  .card {
      background-color: #ffffff;
      border: 1px solid #dddddd;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 16px;
      width: 300px;
  }

  .card img {
      object-fit: cover;
      height: 200px;
      width: 100%;
  }

  .card-title {
      font-size: 14px;
      font-weight: bold;
      margin: 8px 0;
  }

  .card-info {
      margin-bottom: 8px;
  }

  .card-info2 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }

  .search-container {
      display: flex;
      justify-content: center;
      margin-bottom: 16px;
      background-color: rgb(228, 228, 228);
      padding: 35px;
  }

  #search, #searchProvince {
      border: 1px solid #dddddd;
      border-radius: 4px;
      font-size: 14px;
      padding: 8px 16px;
      margin-right: 8px;
      width: 500px;     
  }

  .hidden {
      display: none;
  }

  .card-price {
      display: inline-block;
      text-align: right;
      width: 165px; /* Ajusta el ancho según tus necesidades */
    }

    .search-container {
      display: flex;
      justify-content: center;
      margin-bottom: 16px;
      background-color: #f2f2f2;
      padding: 20px;
      font-family: 'Montserrat', sans-serif;
    }
    
    label {
      margin-right: 10px;
    }
    
    select,
    input[type="number"] {
      border: none;
      background-color: #ffffff;
      border-radius: 4px;
      font-size: 14px;
      padding: 8px 16px;
      margin-right: 35px;
      width: 150px;
      margin-top: -8px;
    }
    
    select:focus,
    input[type="number"]:focus {
      outline: none;
      box-shadow: 0 0 4px #cccccc;
    }


    /*NAVBAR*/
    .navbar {
      background-color: white;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
    }

    a{
      text-decoration: none;
      color: black;
      font-family: Montserrat;
      font-size: 12px;
    }
    
    .navbar-brand img {
      display: block;
      margin-right: 10px;
      width: 250px;
      height: 55px;
    }
    
    .navbar-toggler {
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 1.5rem;
      padding: 0;
    }
    
    .navbar-toggler:focus,
    .navbar-toggler:hover {
      outline: none;
    }
    
   
    
    .navbar-nav {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
    
    .nav-link {
      padding: .5rem 1rem;
    }
    
    .nav-item {
      margin: 0 0 10px;
    }

    .barra-roja{
      width: 100%;
      height: 50px;
      background-color: red;
      color: white;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      font-weight: bold;
      font-size: 15px;
      font-family: Montserrat; 
      padding: -5px;
      margin: 0;
      margin-top: 0;
    }

    /*sobre nosotros*/
    .dropdown-icon {
      display: inline-block;
      width: 5px;
      height: 5px;
      margin-left: 5px;
      border: solid black;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      transition: transform 0.2s ease-in-out;
    }
    
    .dropdown-icon.active {
      transform: rotate(-135deg);
    }
    .dropdown-menu {
      display: none;
      position: absolute;
      z-index: 1;
    }
    
    .dropdown.active .dropdown-menu {
      display: block;
    }
    
    .dropdown-menu a {
      display: block;
      padding: 10px;
      background-color: #fff;
      color: #000;
      text-decoration: none;
      border-bottom: 1px solid #ccc;
    }
    
    .dropdown-menu a:hover {
      background-color: #f0f0f0;
    }

    





    .service-dropdown-icon{
      display: inline-block;
      width: 5px;
      height: 5px;
      margin-left: 5px;
      border: solid black;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      transition: transform 0.2s ease-in-out;

    }
    .service-dropdown-icon.active {
      transform: rotate(-135deg);
    }

    .service-dropdown-menu {
      display: none;
      position: absolute;
      z-index: 1;
    }
    
    .service-dropdown.active .service-dropdown-menu {
      display: block;
    }
    
    .service-dropdown-menu a {
      display: block;
      padding: 10px;
      background-color: #fff;
      color: #000;
      text-decoration: none;
      border-bottom: 1px solid #ccc;
    }
    
    .service-dropdown-menu a:hover {
      background-color: #f0f0f0;
    }





    .service-dropdown-valor-icon{
      display: inline-block;
      width: 5px;
      height: 5px;
      margin-left: 5px;
      border: solid black;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      transition: transform 0.2s ease-in-out;

    }
    .service-dropdown-valor-icon.active {
      transform: rotate(-135deg);
    }

    .service-dropdown-valor-menu {
      display: none;
      position: absolute;
      z-index: 1;
    }
    
    .service-dropdown-valor.active .service-dropdown-valor-menu {
      display: block;
    }
    
    .service-dropdown-valor-menu a {
      display: block;
      padding: 10px;
      background-color: #fff;
      color: #000;
      text-decoration: none;
      border-bottom: 1px solid #ccc;
    }
    
    .service-dropdown-valor-menu a:hover {
      background-color: #f0f0f0;
    }

    
   /* Estilos para dispositivos más pequeños */
@media (max-width: 600px) {
.barra-roja {
font-size: 0.8em;
text-align: center;
}

.navbar {
  flex-direction: column;
  align-items: center;
}

.navbar-nav {
  margin-top: 10px;
  display: flex;
  flex-direction: column; /* Agregamos esta propiedad para que los elementos se ubiquen verticalmente */
  align-items: center; /* Agregamos esta propiedad para centrar los elementos verticalmente */
}

.nav-link {
  padding: 5px;
}




/*barra de busqueda*/
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.search-container > * {
  margin-bottom: 10px;
}

#minPrice, #maxPrice {
  width: 80%;
  margin-left: 10px;
  margin-top: 10px;
}
#provincia{
  width: 90%;
  margin-left: 15px;
  margin-top: 10px;
}

}



/*footer*/
footer {
background-color: #4B4F55;
color: white;
font-family: Montserrat;
padding: 35px;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: start;
}

footer > div {
margin-bottom: 25px;
flex-basis: calc(33.33% - 10px);
text-align: start;
}

footer img {
max-width: 100%;
height: auto;
}

footer p {
margin: 0;
}

.logo > a {
margin-bottom: 30px;
}

.logo > div{
gap: 65px;
}

.logo > p{
margin-bottom: 20px;
}
.suscribete p {
margin: 0;
text-align: justify;
margin-bottom: 10px;
}
.suscribete div p{
margin-top: 10px;
}

.barra-blanca{
background-color: white;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
font-family: Montserrat;
padding: 0px 80px;



}
.barra-blanca > p {
font-size: 14px;
}

@media screen and (max-width: 768px) {
footer {
flex-direction: column;
align-items: stretch;
gap: 40px; /* adjust as needed */
}

footer > div {
flex-basis: auto;
margin-bottom: 40px;
}

.detalles {
order: 2;
}

.suscribete {
order: 3;
}

.suscribete input[type="checkbox"] {
margin-right: 10px;
}

.suscribete p {
margin: 0;
text-align: justify;
margin-bottom: 10px;
}
}

.dropdown-menu {
  position: absolute;
}


  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>


  <div class="barra-roja">
    <p>931 59 58 80</p>
    <p>info@hannanpiper.com</p>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="https://hannan-piper.com/">
    <img src="https://i.postimg.cc/DwR6PXHw/logo-hannan-peque-o.png" width="30" height="30" alt="">
  </a>
  <a style="font-size: 15px; text-decoration: none;" href="https://hannanpropiedades.onrender.com/">Volver a Propiedades</a>
</nav>
  


  
  <div class="container">
    <h1 class="text-center"><%= detalle[0].title %></h1>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% detalle[0].pictures.forEach(function(picture, index) { %>
        <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
          <img src="<%= picture %>" class="d-block carousel-image">
        </div>
        <% }); %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h2>Descripción:</h2>
        <p><%= detalle[0].description %></p>
      </div>
      <div class="col-md-4">
        <h2>Detalles:</h2>
        <p><strong>ID:</strong> <%= detalle[0].identifier %></p>
        <p><strong>Baños:</strong> <%= detalle[0].bathrooms %></p>
        <p><strong>Habitaciones:</strong> <%= detalle[0].bedrooms %></p>
        <p><strong>Precio:</strong> € <%= detalle[0].selling_cost.toLocaleString('es-ES', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %></p>

        <p><strong>Ciudad:</strong> <%= detalle[0].town %></p>
        <p><strong>Área construida:</strong> <%= detalle[0].area_plot %> m²</p>
        <p><strong>Área del terreno:</strong> <%= detalle[0].area_util %> m²</p>
        <p><strong>Ubicación:</strong> <%= detalle[0].street %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h2>Description:</h2>
        <p><%= detalle[0].description_en %></p>
      </div>
      <div class="col-md-4">
        <h2>Details:</h2>
        <p><strong>ID:</strong> <%= detalle[0].identifier %></p>
        <p><strong>Bathrooms:</strong> <%= detalle[0].bathrooms %></p>
        <p><strong>Bedrooms:</strong> <%= detalle[0].bedrooms %></p>
        <p><strong>Price:</strong> € <%= detalle[0].selling_cost.toLocaleString('es-ES', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %></p>

        <p><strong>City:</strong> <%= detalle[0].town %></p>
        <p><strong>Plot Area:</strong> <%= detalle[0].area_plot %> m²</p>
        <p><strong>Util Area:</strong> <%= detalle[0].area_util %> m²</p>
        <p><strong>Address:</strong> <%= detalle[0].street %></p>
      </div>
      
    </div>
  </div>

  <footer style="background-color: #4B4F55; display:flex; flex-direction: row; justify-content: space-around; align-items: center; color: white; font-family: Montserrat; padding: 25px;">
    <div class="logo">
      <img src="https://i.postimg.cc/65xbzqQD/logo-blanco-png.png" alt="" width="300px" height="60px">
      <div>
        <a href="https://www.facebook.com/hannanpiperrealestate"><img  src="https://i.postimg.cc/ZntHfsJr/Facebook.png" alt=""></a>
        <a href="https://www.youtube.com/channel/UCfAtt0tqkSvbtst82qot51Q"><img src="https://i.postimg.cc/135HYq1Y/youtube.png" alt=""></a>
        <a href="https://www.linkedin.com/company/hannanpiper/"><img src="https://i.postimg.cc/XvtkJ1GT/linkedin.png" alt=""></a>
        <a href="https://www.instagram.com/hannanpiperrealestate/"><img  src="https://i.postimg.cc/66rfW09m/instagram.png" alt=""></a>
      </div>
      <a style="text-decoration: none; color:white; font-size: 16px; margin-top: 25px" href="https://hannan-piper.com/cookies/"><p style="margin-top: 25px">Politica de Cookies</p></a>
      <a style="text-decoration: none; color:white; font-size: 16px; margin-top: 10px" href="https://hannan-piper.com/politica-de-privacidad/"><p style="margin-top:15px">Política de privacidad</p></a>
      <a style="text-decoration: none; color:white; font-size: 16px; margin-top: 10px" href="https://hannan-piper.com/aviso-legal/"><p style="margin-top:15px">Avisos legales</p></a>
      <a style="text-decoration: none; color:white; font-size: 16px; margin-top: 10px" href="https://hannan-piper.com/politica-de-privacidad-redes-sociales/"><p style="margin-top:15px">Política de privacidad Redes sociales</p></a>
    </div>
    <div class="detalles" style="margin-top: -80px;">
      <h2 style="font-family: Montserrat; font-weight: bold; font-size: 25px">Detalles de Contacto</h2>
      <div style="display:flex; flex-direction:row; justify-content:start; align-items: center; ">
        <img src="https://i.postimg.cc/nrGWqfqs/MAIL.png" alt="">
        <p style="margin-left: 10px">info@hannanpiper.com</p>
      </div>
      <div style="display:flex; flex-direction:row; justify-content:space-around; align-items: center;">
        <img src="https://i.postimg.cc/c4TjHZs2/DIRECCION.png" alt="">
        <p>Av. Diagonal, 571 – 2a Planta Barcelona (Barcelona)</p>
      </div>
      <div style="display:flex; flex-direction:row; justify-content:start; align-items: center;">
        <img src="https://i.postimg.cc/nrGWqfqs/MAIL.png" alt="">
        <p style="margin-left: 10px">931 59 58 80</p>
      </div>
    </div>
    <div class="suscribete" style="display: flex; flex-direction: column; margin-top: 25px;">
      <h3 style="font-size: 14px; ">Suscríbase aquí a nuestro newsletter y será el primero en recibir nuestras noticias.</h3>
      <input style="border-radius: 5px; border: none; height: 25px; padding: 15px" placeholder="Correo Electrònico" type="text">
      <button style="background-color: red; color: white; border: none; border-radius: 5px; margin-top: 15px; height: 30px">Enviar</button>
      <p style="font-size: 12px; font-family: Montserrat; margin-top: 40px;">
        La empresa Hannan-Piper Real Estate será responsable de la 
        información provista con la finalidad de gestionar la suscripción 
        a la newsletter, para realizar envíos correspondientes. Usted 
        tiene el derecho de acceder, rectificar y suprimir los datos. 
        Puede consultar la información adicional y detallada sobre 
        Protección de Datos en nuestra página web, apartado Política 
        de Privacidad.
      </p>
      <div style="display: flex; flex-direction: row;">
        <input type="checkbox">
        <p style="font-size: 10px; font-family: Montserrat;">He leído y acepto la información básica de protección de datos.</p>
      </div>
      
    </div>
  

  </footer>
  <script>
    /*menu desplegable 1 */
    var dropdown = document.querySelector('.dropdown');
    var dropdownIcon = document.querySelector('.dropdown-icon');
    var dropdownMenu = document.querySelector('.dropdown-menu');
    
    dropdown.addEventListener('click', function() {
      dropdown.classList.toggle('active');
    });
    
    // Cierra el menú desplegable si se hace clic fuera de él
    window.addEventListener('click', function(event) {
      if (!dropdown.contains(event.target)) {
        dropdown.classList.remove('active');
      }
    });

    /*menu desplegable 2 */
    var serviceDropdown = document.querySelector('.service-dropdown');
    var serviceDropdownIcon = document.querySelector('.service-dropdown-icon');
    var serviceDropdownMenu = document.querySelector('.service-dropdown-menu');

    serviceDropdown.addEventListener('click', function() {
      serviceDropdown.classList.toggle('active');
    });

    window.addEventListener('click', function(event) {
      if (!serviceDropdown.contains(event.target)) {
        serviceDropdown.classList.remove('active');
      }
    });

    /*menu desplegable 3 */
    var serviceDropdownValor = document.querySelector('.service-dropdown-valor');
    var serviceDropdownIconValor = document.querySelector('.service-dropdown-valor-icon');
    var serviceDropdownMenuValor = document.querySelector('.service-dropdown-valor-menu');

    serviceDropdownValor.addEventListener('click', function() {
      serviceDropdownValor.classList.toggle('active');
    });

    window.addEventListener('click', function(event) {
      if (!serviceDropdownValor.contains(event.target)) {
        serviceDropdownValor.classList.remove('active');
      }
    });
  </script>

</body>
</html>