<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Propiedades</title>
    <style>
        .card-container {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
        }

        .card {
            background-color: #ffffff;
            border: 1px solid #dddddd;
            border-radius: 4px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 16px;
            width: 300px;
        }

        .card img {
            object-fit: cover;
            height: 200px;
            width: 100%;
        }

        .card-title {
            font-size: 14px;
            font-weight: bold;
            margin: 8px 0;
        }

        .card-info {
            margin-bottom: 8px;
        }

        .card-info2 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .search-container {
            display: flex;
            justify-content: center;
            margin-bottom: 16px;
        }

        #search {
            border: 1px solid #dddddd;
            border-radius: 4px;
            font-size: 14px;
            padding: 8px 16px;
            outline: none;
            width: 100%;
            max-width: 300px;
        }

        #search:focus {
            border-color: #6dba88;
            box-shadow: 0 0 0 1px #6dba88;
        }
    </style>
</head>
<body>
    <div class="search-container">
        <input type="text" id="search" placeholder="Buscar por precio" />
    </div>
    <div id="card-container" class="card-container">
        <% propiedades.forEach(propiedad => { %>
          <a href="/propiedad/<%= propiedad.identifier %>" style="text-decoration: none; color: inherit;">
            <div class="card">
                <img src="<%= propiedad.pictures[0] %>" alt="<%= propiedad.title %>">
                <div class="card-title" style="font-family: Montserrat; text-transform: capitalize;"><%= propiedad.title %></div>
                <div class="card-info" style="font-family: Montserrat; ">P: <%= propiedad.province %></div>
                <div class="card-info2" style="font-family: Montserrat; ">Baños: <div> <%= propiedad.bathrooms %>  <img src="https://i.postimg.cc/4xMbG419/48045.png" style="width: 22px; height: 22px; color: black; margin-top: 10px; margin-bottom: -8px;" />  </div></div>
                <div class="card-info2" style="font-family: Montserrat; " >Habitaciones: <div style="color: black;"> <%= propiedad.bedrooms %> <img src="https://i.postimg.cc/cJY80VML/hab.png" style="width: 30px; height: 30px; color: black; margin-top: 10px; margin-bottom: -8px;" /> </div></div>
                <div class="card-info2" style="font-family: Montserrat; ">Precio: <img src="https://i.postimg.cc/zDT4tvr3/21125.png" style="width: 15px; height: 15px; color: black; margin-top: -10px; margin-bottom: -8px; margin-left: 160px" /> <div class="price"> <%= propiedad.selling_cost %>  </div></div>
            </div>
        </a>
        <% }); %>
    </div>
    <script>
        const searchInput = document.getElementById('search');
        const cardContainer = document.getElementById('card-container');
        const cards = Array.from(cardContainer.children);

        searchInput.addEventListener('input', (event) => {
            const searchValue = parseFloat(event.target.value);
            if (isNaN(searchValue)) {
                cards.forEach((card) => {
                    card.style.display = 'block';
                });
            } else {
                cards.forEach((card) => {
                    const priceElement = card.querySelector('.price');
                    const price = parseFloat(priceElement.textContent.replace(/[^0-9.]/g, ''));
                    if (price <= searchValue) {
                        card.style.display = 'block';
                    } else {
                        card.style.display = 'none';
                    }
                });
            }
        });
    </script>
</body>
</html> -->



<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Propiedades</title>
    <style>
        .card-container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            gap: 16px;
        }

        .card {
            background-color: #ffffff;
            border: 1px solid #dddddd;
            border-radius: 4px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 16px;
            width: 300px;
        }

        .card img {
            object-fit: cover;
            height: 200px;
            width: 100%;
        }

        .card-title {
            font-size: 14px;
            font-weight: bold;
            margin: 8px 0;
        }

        .card-info {
            margin-bottom: 8px;
        }

        .card-info2 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .search-container {
            display: flex;
            justify-content: center;
            margin-bottom: 16px;
            background-color: rgb(228, 228, 228);
            padding: 35px;
  
  
        }

        #search, #searchProvince {
            border: 1px solid #dddddd;
            border-radius: 4px;
            font-size: 14px;
            padding: 8px 16px;
            margin-right: 8px;
            width: 500px;
           
        }
        .hidden {
            display: none;
        }
        
    </style>
</head>
<body>
    <div class="search-container">
        <input type="text" id="search" placeholder="Buscar por precio">
        <input type="text" id="searchProvince" placeholder="Buscar por provincia">
    </div>
    <div id="card-container" class="card-container">
        <% propiedades.forEach(propiedad => { %>
          <a href="/propiedad/<%= propiedad.identifier %>" style="text-decoration: none; color: inherit;">
            <div class="card">
                <img src="<%= propiedad.pictures[0] %>" alt="<%= propiedad.title %>">
                <div class="card-title" style="font-family: Montserrat; text-transform: capitalize;"><%= propiedad.title %></div>
                <div class="card-info card-province" style="font-family: Montserrat; ">Provincia: <%= propiedad.province %></div>
                <div class="card-info2" style="font-family: Montserrat; ">Baños: <div> <%= propiedad.bathrooms %>  <img src="https://i.postimg.cc/4xMbG419/48045.png" style="width: 22px; height: 22px; color: black; margin-top: 10px; margin-bottom: -8px;" />  </div></div>
                <div class="card-info2" style="font-family: Montserrat; " >Habitaciones: <div style="color: black;"> <%= propiedad.bedrooms %> <img src="https://i.postimg.cc/cJY80VML/hab.png" style="width: 30px; height: 30px; color: black; margin-top: 10px; margin-bottom: -8px;" /> </div></div>
                <div class="card-info2" style="font-family: Montserrat; ">Precio: <img src="https://i.postimg.cc/zDT4tvr3/21125.png" style="width: 15px; height: 15px; color: black; margin-top: -10px; margin-bottom: -8px; margin-left: 160px" /> <span class="card-price"> <%= propiedad.selling_cost %> </span></div>
            </div>
        </a>
        <% }); %>
    </div>
    <script>
        const searchInput = document.getElementById('search');
        const searchProvinceInput = document.getElementById('searchProvince');
        const cards = document.querySelectorAll('.card');

        const filterCards = () => {
        const searchValue = parseFloat(searchInput.value);
        const searchProvinceValue = searchProvinceInput.value.toLowerCase();

        cards.forEach((card) => {
            const priceElement = card.querySelector('.card-price');
            const price = parseFloat(priceElement.textContent.replace(/[^0-9.]/g, ''));
            const provinceElement = card.querySelector('.card-province');
            const province = provinceElement.textContent.slice(10).toLowerCase();

            if ((isNaN(searchValue) || price <= searchValue) && province.includes(searchProvinceValue)) {
                card.classList.remove('hidden');
            } else {
                card.classList.add('hidden');
            }
    });
};


        searchInput.addEventListener('input', filterCards);
        searchProvinceInput.addEventListener('input', filterCards);
    </script>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Propiedades</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-eK7k0qLwRrKk4JYJ+X8Z7zQv6J4Zv7CQ6n7rJG3N0kR7J2r3ZdJXCXnCQjX2K7XN6Uw3L2S8Sd0RkDv1lGk3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>

        body{
            margin: 0px;
            padding: 0px;
        }

        .card-container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            gap: 12px;
            padding: 18px;
        }

        .card {
            background-color: #ffffff;
            border: 1px solid #dddddd;
            border-radius: 4px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 16px;
            width: 300px;
        }

        .card img {
            object-fit: cover;
            height: 200px;
            width: 100%;
        }

        .card-title {
            font-size: 14px;
            font-weight: bold;
            margin: 8px 0;
        }

        .card-info {
            margin-bottom: 8px;
        }

        .card-info2 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .search-container {
            display: flex;
            justify-content: center;
            margin-bottom: 16px;
            background-color: rgb(228, 228, 228);
            padding: 35px;
        }

        #search, #searchProvince {
            border: 1px solid #dddddd;
            border-radius: 4px;
            font-size: 14px;
            padding: 8px 16px;
            margin-right: 8px;
            width: 500px;     
        }

        .hidden {
            display: none;
        }

        .card-price {
            display: inline-block;
            text-align: right;
            width: 165px; /* Ajusta el ancho según tus necesidades */
          }

          .search-container {
            display: flex;
            justify-content: center;
            margin-bottom: 16px;
            background-color: #f2f2f2;
            padding: 20px;
            font-family: 'Montserrat', sans-serif;
          }
          
          label {
            margin-right: 10px;
          }
          
          select,
          input[type="number"] {
            border: none;
            background-color: #ffffff;
            border-radius: 4px;
            font-size: 14px;
            padding: 8px 16px;
            margin-right: 35px;
            width: 150px;
            margin-top: -8px;
          }
          
          select:focus,
          input[type="number"]:focus {
            outline: none;
            box-shadow: 0 0 4px #cccccc;
          }


          /*NAVBAR*/
          .navbar {
            background-color: white;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            padding: 10px;
          }

          a{
            text-decoration: none;
            color: black;
            font-family: Montserrat;
            font-size: 12px;
          }
          
          .navbar-brand img {
            display: block;
            margin-right: 10px;
            width: 250px;
            height: 55px;
          }
          
          .navbar-toggler {
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-size: 1.5rem;
            padding: 0;
          }
          
          .navbar-toggler:focus,
          .navbar-toggler:hover {
            outline: none;
          }
          
         
          
          .navbar-nav {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
          }
          
          .nav-link {
            padding: .5rem 1rem;
          }
          
          .nav-item {
            margin: 0 0 10px;
          }

          .barra-roja{
            width: 100%;
            height: 50px;
            background-color: red;
            color: white;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            font-weight: bold;
            font-size: 15px;
            font-family: Montserrat; 
            padding: -5px;
            margin: 0;
            margin-top: 0;
          }

          /*sobre nosotros*/
          .dropdown-icon {
            display: inline-block;
            width: 5px;
            height: 5px;
            margin-left: 5px;
            border: solid black;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            transition: transform 0.2s ease-in-out;
          }
          
          .dropdown-icon.active {
            transform: rotate(-135deg);
          }
          .dropdown-menu {
            display: none;
            position: absolute;
            z-index: 1;
          }
          
          .dropdown.active .dropdown-menu {
            display: block;
          }
          
          .dropdown-menu a {
            display: block;
            padding: 10px;
            background-color: #fff;
            color: #000;
            text-decoration: none;
            border-bottom: 1px solid #ccc;
          }
          
          .dropdown-menu a:hover {
            background-color: #f0f0f0;
          }





          .service-dropdown-icon{
            display: inline-block;
            width: 5px;
            height: 5px;
            margin-left: 5px;
            border: solid black;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            transition: transform 0.2s ease-in-out;

          }
          .service-dropdown-icon.active {
            transform: rotate(-135deg);
          }

          .service-dropdown-menu {
            display: none;
            position: absolute;
            z-index: 1;
          }
          
          .service-dropdown.active .service-dropdown-menu {
            display: block;
          }
          
          .service-dropdown-menu a {
            display: block;
            padding: 10px;
            background-color: #fff;
            color: #000;
            text-decoration: none;
            border-bottom: 1px solid #ccc;
          }
          
          .service-dropdown-menu a:hover {
            background-color: #f0f0f0;
          }





          .service-dropdown-valor-icon{
            display: inline-block;
            width: 5px;
            height: 5px;
            margin-left: 5px;
            border: solid black;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            transition: transform 0.2s ease-in-out;

          }
          .service-dropdown-valor-icon.active {
            transform: rotate(-135deg);
          }

          .service-dropdown-valor-menu {
            display: none;
            position: absolute;
            z-index: 1;
          }
          
          .service-dropdown-valor.active .service-dropdown-valor-menu {
            display: block;
          }
          
          .service-dropdown-valor-menu a {
            display: block;
            padding: 10px;
            background-color: #fff;
            color: #000;
            text-decoration: none;
            border-bottom: 1px solid #ccc;
          }
          
          .service-dropdown-valor-menu a:hover {
            background-color: #f0f0f0;
          }

          
         /* Estilos para dispositivos más pequeños */
@media (max-width: 600px) {
    .barra-roja {
      font-size: 0.8em;
      text-align: center;
    }
    
    .navbar {
        flex-direction: column;
        align-items: center;
      }
      
      .navbar-nav {
        margin-top: 10px;
        display: flex;
        flex-direction: column; /* Agregamos esta propiedad para que los elementos se ubiquen verticalmente */
        align-items: center; /* Agregamos esta propiedad para centrar los elementos verticalmente */
      }
      
      .nav-link {
        padding: 5px;
      }


      /*barra de busqueda*/
      .search-container {
        display: flex;
        flex-direction: column;
        align-items: center;
  
      }
      
      .search-container > * {
        margin-bottom: 10px;
      }
      
      #minPrice, #maxPrice {
        width: 80%;
        margin-left: 10px;
        margin-top: 10px;
      }
      #provincia{
        width: 90%;
        margin-left: 15px;
        margin-top: 10px;
      }

  }



  /*footer*/
  footer {
    background-color: #4B4F55;
    color: white;
    font-family: Montserrat;
    padding: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
  }
  
  footer > div {
    margin-bottom: 25px;
    flex-basis: calc(33.33% - 10px);
    text-align: start;
  }
  
  footer img {
    max-width: 100%;
    height: auto;
  }
  
  footer p {
    margin: 0;
  }

  .logo > a {
    margin-bottom: 30px;
  }
  
  .logo > div{
    gap: 65px;
  }
  
  .logo > p{
    margin-bottom: 20px;
  }
  .suscribete p {
    margin: 0;
    text-align: justify;
    margin-bottom: 10px;
  }
  .suscribete div p{
    margin-top: 10px;
  }

  .barra-blanca{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Montserrat;
    padding: 0px 80px;
    

    
  }
  .barra-blanca > p {
    font-size: 14px;
  }
  
  @media screen and (max-width: 768px) {
    footer {
      flex-direction: column;
      align-items: stretch;
      gap: 40px; /* adjust as needed */
    }
  
    footer > div {
      flex-basis: auto;
      margin-bottom: 40px;
    }
  
    .detalles {
      order: 2;
    }
  
    .suscribete {
      order: 3;
    }
  
    .suscribete input[type="checkbox"] {
      margin-right: 10px;
    }
  
    .suscribete p {
      margin: 0;
      text-align: justify;
      margin-bottom: 10px;
    }
  }

  .pagination {
    background-color: whitesmoke;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .page-item {
    border: none;
    margin-right: 5px;
  }
  
  .page-link {
    color: #333;
    background-color: transparent;
    border: none;
    padding: 0.5rem 0.75rem;
  }
  
  .page-item.active .page-link {
    background-color: red;
    color: #fff;
    border-radius: 0.25rem;
  }

  ul.pagination {
    list-style: none;
    margin: 50;
    padding: 50;
  }
        
    </style>
</head>
<body>
    <div class="barra-roja">
        <p>931 59 58 80</p>
        <p>info@hannanpiper.com</p>
    </div>
    <nav class="navbar">
        <a class="navbar-brand" href="https://hannan-piper.com/">
          <img src="https://i.postimg.cc/DwR6PXHw/logo-hannan-peque-o.png" width="30" height="30" alt="">
        </a>
        <div class="navbar-collapse" id="navbarNav">
          <div class="navbar-nav mr-auto">
            <div class="nav-item active">
              <a class="nav-link" href="https://hannan-piper.com/quieres-vender-o-alquilar/">¿Quieres vender o alquilar?</a>
            </div>
            <div class="dropdown">
              <a class="nav-link dropdown-toggle" href="" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                Sobre nosotros <span class="dropdown-icon"></span>
              </a>
            
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="https://hannan-piper.com/sobre-nosotros/">Sobre Nosotros</a>
                <a class="dropdown-item" href="https://hannan-piper.com/oficinas/">Oficinas</a>
                <a class="dropdown-item" href="https://hannan-piper.com/hannan-piper-university/">Hannan-piper University</a>
                <a class="dropdown-item" href="https://hannan-piper.com/obra-social/">Obra social</a>
              </div>
            </div>
            <div class="service-dropdown">
              <a class="nav-link dropdown-toggle" href="" role="button" id="serviceDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                Áreas de servicio <span class="service-dropdown-icon"></span>
              </a>
            
              <div class="service-dropdown-menu" aria-labelledby="serviceDropdownMenuLink">
                <a class="dropdown-item" href="https://hannan-piper.com/areas-de-servicio/">Áreas de Servicio</a>
                <a class="dropdown-item" href="https://hannan-piper.com/venta-residencial/">Venta Résidencial</a>
                <a class="dropdown-item" href="https://hannan-piper.com/venta-comercial/">Venta Comercial</a>
                <a class="dropdown-item" href="https://hannan-piper.com/propiedades-de-lujo/">Propiedades de Lujo</a>
                <a class="dropdown-item" href="https://hannan-piper.com/personal-shopper-inmobiliario/">Personal Shopper Inmobiliario</a>
                <a class="dropdown-item" href="https://hannan-piper.com/alquiler/">Alquiler</a>
                <a class="dropdown-item" href="https://hannan-piper.com/obra-nueva/">Obra Nueva</a>
                <a class="dropdown-item" href="https://hannan-piper.com/inversiones-inmobiliarias/">Inversiones Inmobiliarias</a>
                <a class="dropdown-item" href="https://hannan-piper.com/business-brokerage/">Business Brokerage</a>
                <a class="dropdown-item" href="https://hannan-piper.com/seguros/">Seguros</a>
                <a class="dropdown-item" href="https://hannan-piper.com/administracion-de-propiedades/">Administración de Propiedades</a>
                <a class="dropdown-item" href="https://hannan-piper.com/reformas/">Reformas</a>
              </div>
            </div>
            <div class="service-dropdown-valor">
              <a class="nav-link dropdown-toggle" href="" role="button" id="serviceDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                Propuesta de Valor <span class="service-dropdown-valor-icon"></span>
              </a>
            
              <div class="service-dropdown-valor-menu" aria-labelledby="serviceDropdownMenuLink">
                <a class="dropdown-item" href="https://hannan-piper.com/propuesta-de-valor/">Propuesta de Valor</a>
                <a class="dropdown-item" href="https://hannan-piper.com/portales-inmobiliarios/">150 Portales Inmobiliarios</a>
                <a class="dropdown-item" href="https://hannan-piper.com/comunicacion-efectiva/">Comunicación Efectiva</a>
                <a class="dropdown-item" href="https://hannan-piper.com/alarmas/">Alarmas</a>
                <a class="dropdown-item" href="https://hannan-piper.com/big-data-2/">Big Data</a>
                <a class="dropdown-item" href="https://hannan-piper.com/home-staging-14/">Home Staging</a>
                <a class="dropdown-item" href="https://hannan-piper.com/hipotecas/">Hipotecas</a>
                <a class="dropdown-item" href="https://hannan-piper.com/neuromarketing/">Neuromarketing</a>
                <a class="dropdown-item" href="https://hannan-piper.com/virtual-staging/">Virtual Staging</a>
                <a class="dropdown-item" href="https://hannan-piper.com/vaciado-de-pisos/">Vaciado de Pisos</a>
                <a class="dropdown-item" href="https://hannan-piper.com/visitas-virtuales-360/">Visitas Virtuales 360°</a>
                <a class="dropdown-item" href="https://hannan-piper.com/renders-360/">Renders 360</a>
                <a class="dropdown-item" href="https://hannan-piper.com/servicios-de-postventa/">Servicios de Postventa</a>
              </div>
            </div>
            <div class="nav-item">
              <a class="nav-link" href="https://hannan-piper.com/noticias/">Noticias</a>
            </div>
            <div class="nav-item">
              <a class="nav-link" href="https://hannanpropiedades.onrender.com/">Propiedades</a>
            </div>
            <div class="nav-item">
              <a class="nav-link" href="https://hannan-piper.com/unete-al-equipo/">Únete al Equipo</a>
            </div>
          </div>
        </div>
      </nav>


    <div class="search-container">
        <label for="provincia">Provincia:</label>
        <select id="provincia" name="provincia">
            <option value="">Selecciona una provincia</option>
            <option value="Álava">Álava</option>
            <option value="Albacete">Albacete</option>
            <option value="Alicante">Alicante</option>
            <option value="Almería">Almería</option>
            <option value="Asturias">Asturias</option>
            <option value="Ávila">Ávila</option>
            <option value="Badajoz">Badajoz</option>
            <option value="Barcelona">Barcelona</option>
            <option value="Burgos">Burgos</option>
            <option value="Cáceres">Cáceres</option>
            <option value="Cádiz">Cádiz</option>
            <option value="Cantabria">Cantabria</option>
            <option value="Castellón">Castellón</option>
            <option value="Ciudad Real">Ciudad Real</option>
            <option value="Córdoba">Córdoba</option>
            <option value="Cuenca">Cuenca</option>
            <option value="Girona">Girona</option>
            <option value="Granada">Granada</option>
            <option value="Guadalajara">Guadalajara</option>
            <option value="Gipuzkoa">Gipuzkoa</option>
            <option value="Huelva">Huelva</option>
            <option value="Huesca">Huesca</option>
            <option value="Illes Balears">Illes Balears</option>
            <option value="Jaén">Jaén</option>
            <option value="La Rioja">La Rioja</option>
            <option value="Las Palmas">Las Palmas</option>
            <option value="León">León</option>
            <option value="Lleida">Lleida</option>
            <option value="Lugo">Lugo</option>
            <option value="Madrid">Madrid</option>
            <option value="Málaga">Málaga</option>
            <option value="Murcia">Murcia</option>
            <option value="Navarra">Navarra</option>
            <option value="Ourense">Ourense</option>
            <option value="Palencia">Palencia</option>
            <option value="Pontevedra">Pontevedra</option>
            <option value="Salamanca">Salamanca</option>
            <option value="Santa Cruz de Tenerife">Santa Cruz de Tenerife</option>
            <option value="Segovia">Segovia</option>
            <option value="Sevilla">Sevilla</option>
            <option value="Soria">Soria</option>
            <option value="Tarragona">Tarragona</option>
            <option value="Teruel">Teruel</option>
            <option value="Toledo">Toledo</option>
            <option value="Valencia">Valencia</option>
            <option value="Valladolid">Valladolid</option>
            <option value="Bizkaia">Bizkaia</option>
            <option value="Zamora">Zamora</option>
            <option value="Zaragoza">Zaragoza</option>
        </select>
        
        <label for="minPrice">Precio mínimo:</label>
    <input type="number" id="minPrice" placeholder="Mínimo" step="0.01">
    <label for="maxPrice">Precio máximo:</label>
    <input type="number" id="maxPrice" placeholder="Máximo" step="0.01">
    </div>
    <div id="card-container" class="card-container">
        <% propiedades.forEach(propiedad => { %>
          <a href="/propiedad/<%= propiedad.identifier %>" style="text-decoration: none; color: inherit;">
            <div class="card" data-provincia="<%= propiedad.province %>">
                <img src="<%= propiedad.pictures[0] %>" alt="<%= propiedad.title %>">
                <div class="card-title" style="font-family: Montserrat; text-transform: capitalize;"><%= propiedad.title %></div>
                <div class="card-info card-province" style="font-family: Montserrat; ">Provincia: <%= propiedad.province %></div>
                <div class="card-info2" style="font-family: Montserrat; ">Baños: <div> <%= propiedad.bathrooms %>  <img src="https://i.postimg.cc/4xMbG419/48045.png" style="width: 22px; height: 22px; color: black; margin-top: 10px; margin-bottom: -8px;" />  </div></div>
                <div class="card-info2" style="font-family: Montserrat; " >Habitaciones: <div style="color: black;"> <%= propiedad.bedrooms %> <img src="https://i.postimg.cc/cJY80VML/hab.png" style="width: 30px; height: 30px; color: black; margin-top: 10px; margin-bottom: -8px;" /> </div></div>
                <div class="card-info2" style="font-family: Montserrat; display: inline-block; margin-top: 20px;  ">
                    Precio de Venta:
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                      <img src="https://i.postimg.cc/zDT4tvr3/21125.png" style="width: 12px; height: 12px; color: black;">
                      <span class="card-price" style="display: inline-block; text-align: right; width: 80px;"><%= propiedad.selling_cost.toLocaleString('es-ES', { style: 'decimal' }) %></span>
                    </div>
                  </div>
                  
                  <div class="card-info2" style="font-family: Montserrat; display: inline-block; margin-left: 90px; ">
                    Precio de Alquiler:
                    <div style="display: flex; justify-content: space-between; align-items: center; ">
                      <img src="https://i.postimg.cc/zDT4tvr3/21125.png" style="width: 12px; height: 12px; color: black;">
                      <span class="card-price" style="display: inline-block; text-align: right; width: 80px;"><%= propiedad.renting_cost.toLocaleString('es-ES', { style: 'decimal' }) %></span>
                    </div>
                  </div>
                <!-- <div class="card-info2" style="font-family: Montserrat; display: inline-block;  ">Precio de Venta:  <span class="card-price"> <img  src="https://i.postimg.cc/zDT4tvr3/21125.png" style="width: 15px; height: 15px; color: black; margin-top: 10px; margin-bottom: -3px; margin-left: -50px; margin-left: -40px;" />  <%= propiedad.selling_cost %> </span></div> 
                <div class="card-info2" style="font-family: Montserrat; display: inline-block;  ">Precio de Alquiler:  <span class="card-price"> <img  src="https://i.postimg.cc/zDT4tvr3/21125.png" style="width: 15px; height: 15px; color: black; margin-top: 10px; margin-bottom: -3px; margin-left: -50px; margin-left: -40px;" />  <%= propiedad.transfer_cost %> </span></div> -->
            </div>
        </a>
        <% }); %>
    </div>
    <div id="pagination-container">
      <nav>
        <ul class="pagination">
          <% if (currentPage > 1) { %>
            <li class="page-item"><a class="page-link" href="/?page=<%= currentPage - 1 %>">Anterior</a></li>
          <% } %>
          <% for (let i = 1; i <= totalPages; i++) { %>
            <% if (i === currentPage) { %>
              <li class="page-item active"><a class="page-link" href="#"><%= i %></a></li>
            <% } else { %>
              <li class="page-item"><a class="page-link" href="/?page=<%= i %>"><%= i %></a></li>
            <% } %>
          <% } %>
          <% if (currentPage < totalPages) { %>
            <li class="page-item"><a class="page-link" href="/?page=<%= currentPage + 1 %>">Siguiente</a></li>
          <% } %>
        </ul>
      </nav>
    </div>




    <footer style="background-color: #4B4F55; display:flex; flex-direction: row; justify-content: space-around; align-items: center; color: white; font-family: Montserrat; padding: 25px;">
      <div class="logo">
        <img src="https://i.postimg.cc/65xbzqQD/logo-blanco-png.png" alt="" width="300px" height="60px">
        <div>
          <a href="https://www.facebook.com/hannanpiperrealestate"><img  src="https://i.postimg.cc/ZntHfsJr/Facebook.png" alt=""></a>
          <a href="https://www.youtube.com/channel/UCfAtt0tqkSvbtst82qot51Q"><img src="https://i.postimg.cc/135HYq1Y/youtube.png" alt=""></a>
          <a href="https://www.linkedin.com/company/hannanpiper/"><img src="https://i.postimg.cc/XvtkJ1GT/linkedin.png" alt=""></a>
          <a href="https://www.instagram.com/hannanpiperrealestate/"><img  src="https://i.postimg.cc/66rfW09m/instagram.png" alt=""></a>
        </div>
        <a style="text-decoration: none; color:white; font-size: 16px; margin-top: 25px" href="https://hannan-piper.com/cookies/"><p style="margin-top: 25px">Politica de Cookies</p></a>
        <a style="text-decoration: none; color:white; font-size: 16px; margin-top: 10px" href="https://hannan-piper.com/politica-de-privacidad/"><p style="margin-top:15px">Política de privacidad</p></a>
        <a style="text-decoration: none; color:white; font-size: 16px; margin-top: 10px" href="https://hannan-piper.com/aviso-legal/"><p style="margin-top:15px">Avisos legales</p></a>
        <a style="text-decoration: none; color:white; font-size: 16px; margin-top: 10px" href="https://hannan-piper.com/politica-de-privacidad-redes-sociales/"><p style="margin-top:15px">Política de privacidad Redes sociales</p></a>
      </div>
      <div class="detalles" style="margin-top: -80px;">
        <h2>Detalles de Contacto</h2>
        <div style="display:flex; flex-direction:row; justify-content:start; align-items: center; ">
          <img src="https://i.postimg.cc/nrGWqfqs/MAIL.png" alt="">
          <p style="margin-left: 10px">info@hannanpiper.com</p>
        </div>
        <div style="display:flex; flex-direction:row; justify-content:space-around; align-items: center;">
          <img src="https://i.postimg.cc/c4TjHZs2/DIRECCION.png" alt="">
          <p>Av. Diagonal, 571 – 2a Planta Barcelona (Barcelona)</p>
        </div>
        <div style="display:flex; flex-direction:row; justify-content:start; align-items: center;">
          <img src="https://i.postimg.cc/nrGWqfqs/MAIL.png" alt="">
          <p style="margin-left: 10px">931 59 58 80</p>
        </div>
      </div>
      <div class="suscribete" style="display: flex; flex-direction: column; margin-top: 25px;">
        <h3 style="font-size: 14px; ">Suscríbase aquí a nuestro newsletter y será el primero en recibir nuestras noticias.</h3>
        <input style="border-radius: 5px; border: none; height: 16px; padding: 10px" placeholder="Correo Electrònico" type="text">
        <button style="background-color: red; color: white; border: none; border-radius: 5px; margin-top: 15px; height: 30px">Enviar</button>
        <p style="font-size: 12px; font-family: Montserrat; margin-top: 40px;">
          La empresa Hannan-Piper Real Estate será responsable de la 
          información provista con la finalidad de gestionar la suscripción 
          a la newsletter, para realizar envíos correspondientes. Usted 
          tiene el derecho de acceder, rectificar y suprimir los datos. 
          Puede consultar la información adicional y detallada sobre 
          Protección de Datos en nuestra página web, apartado Política 
          de Privacidad.
        </p>
        <div style="display: flex; flex-direction: row;">
          <input type="checkbox">
          <p style="font-size: 10px; font-family: Montserrat;">He leído y acepto la información básica de protección de datos.</p>
        </div>
        
      </div>


      
    

    </footer>
    <div class="barra-blanca">
      <p>© Hannan-Piper Real Estate 2022</p>
      <img src="https://i.postimg.cc/mkm1BvBH/api.png" alt="">
    </div>

    <script>
      /*menu desplegable 1 */
      var dropdown = document.querySelector('.dropdown');
      var dropdownIcon = document.querySelector('.dropdown-icon');
      var dropdownMenu = document.querySelector('.dropdown-menu');
      
      dropdown.addEventListener('click', function() {
        dropdown.classList.toggle('active');
      });
      
      // Cierra el menú desplegable si se hace clic fuera de él
      window.addEventListener('click', function(event) {
        if (!dropdown.contains(event.target)) {
          dropdown.classList.remove('active');
        }
      });

      /*menu desplegable 2 */
      var serviceDropdown = document.querySelector('.service-dropdown');
      var serviceDropdownIcon = document.querySelector('.service-dropdown-icon');
      var serviceDropdownMenu = document.querySelector('.service-dropdown-menu');

      serviceDropdown.addEventListener('click', function() {
        serviceDropdown.classList.toggle('active');
      });

      window.addEventListener('click', function(event) {
        if (!serviceDropdown.contains(event.target)) {
          serviceDropdown.classList.remove('active');
        }
      });

      /*menu desplegable 3 */
      var serviceDropdownValor = document.querySelector('.service-dropdown-valor');
      var serviceDropdownIconValor = document.querySelector('.service-dropdown-valor-icon');
      var serviceDropdownMenuValor = document.querySelector('.service-dropdown-valor-menu');

      serviceDropdownValor.addEventListener('click', function() {
        serviceDropdownValor.classList.toggle('active');
      });

      window.addEventListener('click', function(event) {
        if (!serviceDropdownValor.contains(event.target)) {
          serviceDropdownValor.classList.remove('active');
        }
      });

      




        const provinciaInput = document.getElementById('provincia');
        const minPriceInput = document.getElementById('minPrice');
        const maxPriceInput = document.getElementById('maxPrice');
        const cards = document.querySelectorAll('.card');

        const filterCards = () => {
            const provinciaSeleccionada = provinciaInput.value;
            const minPrice = parseFloat(minPriceInput.value);
            const maxPrice = parseFloat(maxPriceInput.value);
            
        
            cards.forEach((card) => {
                const priceElement = card.querySelector('.card-price');
                const price = parseFloat(priceElement.textContent.replace(/[^0-9.]/g, ''));
                const province = card.getAttribute('data-provincia').toLowerCase();
        
                if ((isNaN(minPrice) || price >= minPrice) && (isNaN(maxPrice) || price <= maxPrice) && (provinciaSeleccionada === '' || province === provinciaSeleccionada.toLowerCase())) {
                    card.classList.remove('hidden');
                } else {
                    card.classList.add('hidden');
                }
            });
        };

        const minPrice = parseFloat(minPriceInput.value);
        const maxPrice = parseFloat(maxPriceInput.value);

        // Formatea los montos con decimales y moneda
        const formattedMinPrice = minPrice.toLocaleString('es-ES', { style: 'currency', currency: 'USD', minimumFractionDigits: 2, maximumFractionDigits: 2 });
        const formattedMaxPrice = maxPrice.toLocaleString('es-ES', { style: 'currency', currency: 'USD', minimumFractionDigits: 2, maximumFractionDigits: 2 });

        // Actualiza los valores de los inputs con los montos formateados
        minPriceInput.value = formattedMinPrice;
        maxPriceInput.value = formattedMaxPrice;
        

        provinciaInput.addEventListener('change', filterCards);
        minPriceInput.addEventListener('input', filterCards);
        maxPriceInput.addEventListener('input', filterCards);
    </script>
</body>
</html>

